<aside class="vote-count bind-<%= @ao.id %>">
 <%= link_to like_art_object_path(@ao), :remote => true, method: :put, class: 'vpos' do %>
  <i class="fa fa-thumbs-up"></i>
  <span class="vcount-<%= @ao.id %>"><%= @ao.get_upvotes.size %></span>
 <% end %>
 <span class="vcount-<%= @ao.id %>"><%= @ao.get_upvotes.size - @ao.get_downvotes.size %></span>
 <%= link_to dislike_art_object_path(@ao), :remote => true, method: :put, class: 'npos' do %>
  <i class="fa fa-thumbs-down"></i>
  <span class="ncount-<%= @ao.id %>"><%= @ao.get_downvotes.size %></span>
 <% end %>
</aside>