<div class="container-fluid first-section">
	<div class="row h1-tag"><h1>Walters Top Picks</h1></div>
		<% sorted_objects = @art_objects.sort! { |x,y| y.score <=> x.score } %>
			<% sorted_objects.each do |obj| %>

				<%= link_to(art_object_path(obj["ObjectID"])) do %>
					<div class="row object-list">
						<div class="col-xs-3">
							<img src='<%= obj["PrimaryImage"]["Tiny"] %>' />
						</div>
            <div class="col-xs-7">
              <%= obj["Title"] %>
            </div>
            <div class="col-xs-1 total_score_list">
              <% if obj.score > 0 %>
                <span class="green"><%= obj.score.to_s %></span>
              <% elsif obj.score < 0 %>
                <span class="red"><%= obj.score.to_s %></span>
              <% else %>
                <span><%= obj.score.to_s %></span>
              <% end %>
            </div>
					</div>
				<% end %>
			<% end %>
</div>