<div class="container-fluid show-section">
	<div class="row">
	<div class="col-xs-5 voteable">
		<div class="row"><buttton class="btn btn-default">UpVote</buttton></div>
		<div class="row"><%= @art_object.score %></div>
		<div class="row"><buttton class="btn btn-default">DownVote</buttton></div>
	</div>
		<div class="col-xs-7">
			<img src='<%= @art_object["Images"][0]["ImageURLs"]["Raw"] %>' />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h4><strong><i><%= @art_object["Title"] %></i></strong></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h4><%= @art_object["Creators"][0]["ConcatDisplayName"] %></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h4><%= @art_object["DateText"] %></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h4><%= @art_object["Medium"] %></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h4><a href='<%= @art_object["ResourceURL"] %>' target="_blank">Click here for more information</a></h4>
		</div>
	</div>
  <div class="row">
    <div class="col-xs-12">
      <h4><%= link_to "Comment", commontator_thread(@ao) %></h4>
    </div>
  </div>
</div>