<div class="container-fluid show-section">
  <div class="row">
  <div class="col-xs-5 voteable vote-count bind-<%= @ao.id %>">
    <div class="row">
      <% if(user_signed_in?) %>
        <%= link_to like_art_object_path(@ao), :remote => true, method: :put, class: 'vpos' do %>
          <button class="btn btn-default green"><i class="fa fa-thumbs-up"></i></button>
        <% end %>
      <% end %>
    </div>
		<div class="row">
      <% if(!user_signed_in?) %>
        <h5 class="total_votes">Total Votes:</h5>
      <% end %>
      <span class="vcount-<%= @ao.id %>"><%= @ao.get_upvotes.size - @ao.get_downvotes.size %></span>
    </div>
		<div class="row">
      <% if(user_signed_in?) %>
        <button class="btn btn-default red"><i class="fa fa-thumbs-down"></i></button>
        <%= link_to dislike_art_object_path(@ao), :remote => true, method: :put, class: 'npos' do %>
       <% end %>
      <% end %>
    </div>
	</div>
		<div class="col-xs-7">
			<img src='<%= @art_object["Images"][0]["ImageURLs"]["Raw"] %>' />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h4><strong><i><%= @art_object["Title"] %></i></strong></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h4><%= @art_object["Creators"][0]["ConcatDisplayName"] %></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h4><%= @art_object["DateText"] %></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h4><%= @art_object["Medium"] %></h4>
		</div>
	</div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Location: <br/><%= @art_object["MuseumLocation"]["DisplayCurrentLocation"] %></h4>
    </div>
  </div>
	<div class="row">
		<div class="col-xs-12">
			<h4><a href='<%= @art_object["ResourceURL"] %>' target="_blank">Click here for more information</a></h4>
		</div>
	</div>
  <div class="row twitter">
    <button><i class="fa fa-twitter" id="<%= @art_object["ObjectID"] %>"></i></button>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4><%= "Paragone Prompt: "+ @random_question %></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4><%= commontator_thread(@ao) %></h4>
    </div>
  </div>
</div>