<!DOCTYPE html>
<html>
<head>
  <title>Paragone</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Playfair+Display+SC">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

	<header class="navbar navbar-fixed-top">
    <nav class="container-fluid" role="navigation">
      <div class="navbar-header">
      <%= link_to "PARAGONE", root_path, class: "navbar-brand" %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".nav">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul class="nav nav-pills navbar-right collapse navbar-collapse">
        <li><a href="/">Top Trending</a></li>
        <li><%= link_to "Curated", curations_path %></li>
        <li><a href="#">Add Your Own</a></li>
        <li><a href="#">Contact</a></li>
        <% if user_signed_in? %>
		      <li><%= link_to "Settings", edit_user_registration_path, :data => {:bypass => true} %></li>
		      <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :data => {:bypass => true} %></li>
		    <% else %>
		      <li><%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %></li>
		      <li><%= link_to "Sign Up", new_registration_path(:user) %></li>
		    <% end %>
		    <% if user_signed_in? %>
			    <% if current_user.provider == "twitter" %>
			      <li>Signed in through twitter as <%= current_user.twitter_handle %></li>
			    <% else %>
			      <li>Signed in as <%= current_user.email %></li>
			    <% end %>
			  <% end %>`
      </ul>
    </nav>
  </header>
<%= yield %>

	<nav class="navbar navbar-fixed-bottom header" id="headroom">
	  <div class="container-fluid">
	  	<div class="row">
        <form class="search-object">
  	  		<div class="col-xs-2">
  	    		<i class="fa fa-search"></i>
  	  		</div>
  	  		<div class="col-xs-10">
  	  			<input class="search-value" type="search" placeholder="Enter ID eg. 37.758" />
  	  		</div>
        </form>
	  	</div>
	  </div>
	</nav>
</body>
</html>
